[submodule "base"]
	path = base
	url = https://github.com/epics-base/epics-base.git
[submodule "support/asyn"]
	path = support/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "support/autosave"]
	path = support/autosave
	url = https://github.com/epics-modules/autosave.git
[submodule "support/busy"]
	path = support/busy
	url = https://github.com/epics-modules/busy.git
[submodule "support/calc"]
	path = support/calc
	url = https://github.com/epics-modules/calc.git
[submodule "support/ipac"]
	path = support/ipac
	url = https://github.com/epics-modules/ipac.git
[submodule "support/lua"]
	path = support/lua
	url = https://github.com/epics-modules/lua.git
[submodule "support/modbus"]
	path = support/modbus
	url = https://github.com/epics-modules/modbus.git
[submodule "support/sscan"]
	path = support/sscan
	url = https://github.com/epics-modules/sscan.git
[submodule "support/symb"]
	path = support/symb
	url = https://github.com/epics-modules/symb.git
[submodule "support/StreamDevice"]
	path = support/StreamDevice
	url = https://github.com/paulscherrerinstitute/StreamDevice.git
[submodule "support/s7plc"]
	path = support/s7plc
	url = https://github.com/paulscherrerinstitute/s7plc.git
[submodule "support/seq"]
	path = support/seq
	url = https://github.com/epics-modules/sequencer.git
[submodule "support/motor"]
	path = support/motor
	url = https://github.com/epics-modules/motor.git
[submodule "extensions/ca-gateway"]
	path = extensions/ca-gateway
	url = https://github.com/epics-extensions/ca-gateway.git
[submodule "extensions/ca-nameserver"]
	path = extensions/ca-nameserver
	url = https://github.com/epics-extensions/ca-nameserver.git
[submodule "support/pcas"]
	path = support/pcas
	url = https://github.com/epics-modules/pcas.git
[submodule "devices/agilent_e364xa"]
	path = devices/agilent_e364xa
	url = https://github.com/IFMIF/agilent_e364xa.git
[submodule "devices/keysight_B2900"]
	path = devices/keysight_B2900
	url = https://github.com/IFMIF/keysight_B2900.git
[submodule "devices/caen_n1470"]
	path = devices/caen_n1470
	url = https://github.com/IFMIF/caen_n1470.git
[submodule "devices/srs_DG645"]
	path = devices/srs_DG645
	url = https://github.com/IFMIF/srs_DG645.git
[submodule "devices/caen_ad1725s"]
	path = devices/caen_ad1725s
	url = https://github.com/IFMIF/caen_ad1725s.git
[submodule "devices/graphtec_GL820"]
	path = devices/graphtec_GL820
	url = https://github.com/IFMIF/graphtec_GL820.git
[submodule "support/std"]
	path = support/std
	url = https://github.com/epics-modules/std
[submodule "support/pvxs"]
	path = support/pvxs
	url = https://github.com/epics-base/pvxs.git
[submodule "support/iocStats"]
	path = support/iocStats
	url = https://github.com/epics-modules/iocStats
