# C.E.A. IRFU/SIS/LDII
#
# @(#) $Id: RULES 23 2013-03-13 15:38:34Z lussi $
#
# RULES
#

include $(EPICS_BASE)/configure/RULES

# Library should be rebuilt because LIBOBJS may have changed.
$(LIBNAME): ../Makefile

# install rules for GUI files
buildInstall : $(INSTALL_GUIS)

$(INSTALL_GUI)/%: ../%
	@echo "Installing gui $@"
	@$(INSTALL) -d -m 644 $< $(INSTALL_GUI)
