# C.E.A. IRFU/SIS/LDII
#
# @(#) $Id: RULES,v 1.2 2010/10/27 12:09:15 cmsmgr Exp $
#
# RULES
#
# Updated for EPICS Base R3.14.11
#

include $(CONFIG)/RULES

# Library should be rebuilt because LIBOBJS may have changed.
$(LIBNAME): ../Makefile

# Install rules for GUI files
buildInstall : $(INSTALL_GUIS)

$(INSTALL_GUI)/%: ../%
	@echo "Installing gui $@"
	@$(INSTALL) -d -m 644 $< $(INSTALL_GUI)
